<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>scale.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>scale.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_173</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_187</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_198</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_200</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_204</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_205</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_207</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_214</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_216</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_225</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_231</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_244</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_245</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_249</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_251</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_252</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_257</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_260</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_261</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_264</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_267</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_269</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_271</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_276</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_279</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_281</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_284</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_288</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_291</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_318</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_320</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_321</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_324</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_333</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_335</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_336</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_348</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_362</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_372</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_376</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_386</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_393</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_416</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_419</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_426</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_434</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_441</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_455</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_457</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_458</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_525</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_526</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
